* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#page_header {
  min-height: 10vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

#page_header > h1 {
  animation: logo linear 2s infinite alternate;
}

@keyframes logo {
  100% {
    transform: translateX(50vw);
  }
}

@keyframes menu {
  100% {
    transform: translateX(100%) rotate(180deg);
  }
}

#menu_icon {
  width: 60px;
  height: 60px;
  animation: menu linear 2s infinite alternate;
}

main {
  width: 100%;
  display: grid;
  place-items: center;
}

#product {
  width: 90%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

#product_img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: top;
}

#buy_btn {
  display: grid;
  place-items: center;
  border-radius: 30px;
  background-color: #ff8811;
  color: #fff8f0;
  width: 150px;
  display: grid;
  grid-auto-flow: column;
  padding: 10px 20px;
  text-decoration: none;
  transition: transform ease-in-out 1s;
}

#buy_btn > p {
  transition: all ease-in-out 1s;
  transform: translateX(30%);
}

#arrow {
  fill: #fff8f0;
  transform: scale(0%) translateX(-10%);
  transition: transform ease-in-out 1s;
}

#buy_btn:hover {
  transform: scale(1.1);
}

#buy_btn:hover > #arrow {
  transform: scale(100%) translateX(30%);
}

#buy_btn:hover > p {
  transform: translateX(10%);
}
