* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#page_header {
  min-height: 10vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

#menu_icon {
  width: 60px;
  height: 60px;
}

#menu_icon:hover {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

main {
  width: 100%;
  display: grid;
  place-items: center;
}

#product {
  width: 90%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

#product_img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: top;
}

#buy_btn {
  display: grid;
  place-items: center;
  border-radius: 30px;
  background-color: #ff8811;
  color: #fff8f0;
  width: 150px;
  height: 35px;
  display: grid;
  grid-auto-flow: column;
  padding: 10px 20px;
  text-decoration: none;
  transition: transform ease-in-out 1s;
  position: relative;
}

#buy_btn > p {
  transition: all ease-in-out 1s;
  position: absolute;
  left: 45px;
}

#arrow {
  fill: #fff8f0;
  transition: all ease-in-out 1s;
  transform: scale(0);
  position: absolute;
  top: 6px;
  right: 20px;
}

#buy_btn:hover {
  transform: scale(1.1);
}

#buy_btn:hover > #arrow {
  transform: scale(1);
  right: 15px;
}

#buy_btn:hover > p {
  left: 30px;
}
